<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BayarServlet</servlet-name>
        <servlet-class>com.zakat.controller.BayarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.example.FileUploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <!-- Temporary directory for file storage -->
            <max-file-size>10485760</max-file-size>
            <!-- 10MB -->
            <max-request-size>52428800</max-request-size>
            <!-- 50MB -->
            <file-size-threshold>2097152</file-size-threshold>
            <!-- 2MB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>addZakatServlet</servlet-name>
        <servlet-class>com.zakat.controller.addZakatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbRegisterStudent</servlet-name>
        <servlet-class>com.zakat.controller.dbRegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStudent</servlet-name>
        <servlet-class>com.zakat.model.registerStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginStudentServlet</servlet-name>
        <servlet-class>com.zakat.view.loginStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbLoginStudent</servlet-name>
        <servlet-class>com.zakat.controller.dbLoginStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successLoginStudent</servlet-name>
        <servlet-class>com.zakat.view.successLoginStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarServlet</servlet-name>
        <url-pattern>/bayarZakat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addZakatServlet</servlet-name>
        <url-pattern>/addzakat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbRegisterStudent</servlet-name>
        <url-pattern>/dbRegisterStudent.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStudent</servlet-name>
        <url-pattern>/registerStudent.model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginStudentServlet</servlet-name>
        <url-pattern>/loginStudentServlet.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbLoginStudent</servlet-name>
        <url-pattern>/dbLoginStudent.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successLoginStudent</servlet-name>
        <url-pattern>/successLoginStudent.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
